<section id="home-content" class="d-flex align-items-center justify-content-around">
  <div class="title-content d-flex align-items-center">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <h1 class="title">I´m Frontend Developer!</h1>
  </div>
  <img src="assets/img/profile.jpg" class="img-responsive profile-picture" alt="Profile Picture">
</section>
<section id="building-content" class="d-flex align-items-center justify-content-around flex-flow-column">
  <h1 class="title">
    UNDER CONSTRUCTION
  </h1>
  <img src="assets/img/under.svg" alt="">
  <h3 class="description">
    We are currently working on site improvements
  </h3>
</section>
