<aside class="contact-me">
  <p class="title">Contact me</p>
  <ul class="nav-custom">
    <li class="nav-item-custom">
      <a class="nav-link-custom active" href="mailto:joaoantoniofilgueiras@gmail.com">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li class="nav-item-custom">
      <a class="nav-link-custom" href="https://www.linkedin.com/in/joao-antonio-filgueiras-a5b236132" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
  </ul>
</aside>
<aside class="main-sidebar is-disabled">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        ABOUT
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        WORKS
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        CONTACT
      </a>
    </li>
  </ul>
</aside>
